.header-sticky {
    position: sticky; 
    top: 0; 
    background-color: white;
}

.hand-cursor {
    cursor: pointer;
}

.encadre-details-sur-scientist {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 500px;
    display: block;
}

.style-logo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.grand-logo {
    font-size: 70px; 
}