<%- include ('header') %>

    <style>
        p {
            hyphens: auto;
            overflow-wrap: break-word;
            width: 100%;

        }

        .col-md-4 {
            text-align: center;
        }

        .image-align-left {
            float: left;
        }

        .image-align-right {
            float: right;
        }

        #image {
            margin-right: 20px;
            margin-bottom: 0px;
        }

        #resume {
            text-align: justify;
        }

        .float-content:before,
        .float-content:after {
            content: "";
            display: block;
            clear: both;
        }
        .border {
        overflow: hidden;
        }
    </style>


    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12 mx-auto text-center">
                <h1 id="titre" class="display-4 mb-4 text-justify"></h1>
            </div>
        </div>
        <div class="row d-flex align-items-center justify-content-center">
            <div class="mx-auto">
                <div class="border p-3 w-100 bg-light">
                    <img id="image" class="img-fluid rounded mb-4 image-align-left" />
                    <p id="image-chargement" class="text-muted text-center"></p>
                    <p id="resume" class="mb-4 text-justify">
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mx-auto">
            <a id="pageWikipedia" class="btn btn-primary mx-auto mt-4" style="display: none;" target="_blank">More on
                Wikipedia</a>
        </div>

        <br />
        <h3 id="titleTableScientists" class="mt-5 text-center text-primary" style="display: none;">Scientists related to
            this concept</h3>
        <br />
        <div id="tableauScientifiques" style="max-height: 500px; overflow: scroll; display: none">

            <div id="scientifiquesConcept"
                class="row row-cols-1 row-cols-md-3 row-cols-lg-4 row-cols-sm-2 row-cols-xl-5 g-4">

            </div>
   
        </div>
        <br />
        <h3 id="titleTableConcepts" class="mt-5 text-center text-primary" style="display: none;">Other concepts related
        </h3>
        <br />
        <div id="tableauConcepts" style="max-height: 500px; overflow: scroll; display: none">
            <div id="concepts" class="row row-cols-1 row-cols-md-3 row-cols-lg-4 row-cols-sm-2 row-cols-xl-5 g-4">

            </div>
        </div>
    </div>




    <script>
    <% if (locals.concept_name) { %>
            let domain = '<%= locals.concept_name %>';
            domain = domain.replace(/\(/g, "\\(").replace(/\)/g, "\\)").replace(/&#39;/g, "\\'").replace(/,/g, '\\,');

            rechercherTout("dbr:" + domain, "rdfs:label", null, function (response) {
                var titre = document.querySelector('#titre');
                var nomPage = document.querySelector("#nomPage");
                var element = (response.results.bindings.length > 0) ? response.results.bindings.find(obj => obj.o["xml:lang"] === "en") : { "o": { "value": "No name found" } };
                titre.innerHTML = nomPage.innerHTML = element.o.value;
            });
            rechercherTout("dbr:" + domain, "foaf:isPrimaryTopicOf", null, function (response) {
                if (response.results.bindings.length > 0) {
                    var lien = document.querySelector('#pageWikipedia');
                    lien.setAttribute("href", response.results.bindings[0].o.value);
                    lien.style.display = "block";
                }
            });
            rechercherTout("dbr:" + domain, "dbo:abstract", null, function (response) {
                var resume = document.querySelector('#resume');
                if (response.results.bindings.length > 0) {
                    var text = response.results.bindings.find(obj => obj.o["xml:lang"] === "en").o.value;
                    
                    // Attribution des deux parties de texte aux éléments #resume et #resume2
                    document.getElementById('resume').innerText = text;
                    
                }

            });
            afficherChargement($("#image-chargement"), "Chargement de l'image");
            rechercherTout("dbr:" + domain, "dbo:thumbnail", null, function (response) {
                var image = document.querySelector('#image');
                $("#image-chargement").html('');
                if (response.results.bindings != undefined && response.results.bindings.length > 0) {
                    image.setAttribute("src", response.results.bindings[0].o.value);
                }
                else {
                    image.setAttribute("src", "/assets/img/concept.ico");
                }
            });

            rechercherInventeur("dbr:" + domain, "#scientifiquesConcept", function () {
                document.querySelector("#tableauScientifiques").style.display = "block";
                document.querySelector("#titleTableScientists").style.display = "block";

            });

            rechercherConcept("dbr:" + domain, "#concepts", function () {
                document.querySelector("#tableauConcepts").style.display = "block";
                document.querySelector("#titleTableConcepts").style.display = "block";
            })

                <% } %>

    </script>

    <%- include ('footer') %>