

<%- include ('header') %>

<div class="container mt-5">
    <div class="row justify-content-center mb-5">
        <div class="col-3 justify-content-center">
            <form action="#" method="get">
                <div class="input-group">
                    <input type="text" 
                           id="mot_cle" 
                           name="mot_cle" 
                           class="form-control" 
                           placeholder="Isaac Newton..." 
                           aria-label="Nom de scientifique" 
                           <% if(locals.mot_cle) { %> value="<%= mot_cle %>" <% } %>
                           >
                    <button id="bouton-recherche" class="btn btn-outline-secondary" type="submit"><i class="bi bi-search"></i></button>
                </div>
            </form>
        </div>
    </div>



    <!-- Résultats de la requête -->
    
    <div id="zone-resultats-recherche" class="row row-cols-1 row-cols-md-3 row-cols-lg-4 row-cols-sm-2 row-cols-xl-5 g-4">
    </div>
        <div id="zone-nom-sci"></div>
        <div id="tableau_sci" style="max-height: 500px; overflow: scroll; display: none">
            <div id="zone-resultats-recherche-sci" class="row row-cols-1 row-cols-md-3 row-cols-lg-4 row-cols-sm-2 row-cols-xl-5 g-4"></div>
        </div>
        <br/>
        <div id="zone-nom-dom"></div>
        <div id="tableau_dom" style="max-height: 500px; overflow: scroll; display: none">
            <div id="zone-resultats-recherche-dom" class="row row-cols-1 row-cols-md-3 row-cols-lg-4 row-cols-sm-2 row-cols-xl-5 g-4"></div>
        </div>
        <br/>
        
        

        <div id="zone-nom-con"></div>
        <div id="tableau_con" style="max-height: 500px; overflow: scroll; display: none">
            <div id="zone-resultats-recherche-con" class="row row-cols-1 row-cols-md-3 row-cols-lg-4 row-cols-sm-2 row-cols-xl-5 g-4"></div>
        </div>
    </div>

</div>

<script>
    $("#mot_cle").keyup(function(event){
        if(event.keyCode == 13){
            $("#bouton-recherche").click();
        }
    });
    

    function lancerRecherche() {
        rechercher(document.getElementById('mot_cle').value);
    }

    $(document).ready(function() {
        <% if (locals.mot_cle) { %>
            lancerRecherche();
        <% } %>
    });
</script>

<%- include ('footer') %>
