

<%- include ('header') %>


<div class="d-flex justify-content-center align-items-center mt-5 pt-5">
    <img src="/assets/img/favicon.ico" width="100px" style="margin-right: 20px;">
    <h1 class="style-logo grand-logo">Scient'IF</h1>
  </div>
<div class="container my-5">
    <div class="row justify-content-center mb-5">
        <div class="col-3 justify-content-center">
            <form action="#" method="get">
                <div class="input-group">
                    <input type="text" 
                           id="mot_cle" 
                           name="mot_cle" 
                           class="form-control" 
                           placeholder="Isaac Newton..." 
                           aria-label="Nom de scientifique" 
                           <% if(locals.mot_cle) { %> value="<%= mot_cle %>" <% } %>
                           >
                    <button id="bouton-recherche" class="btn btn-outline-secondary" type="submit"><i class="bi bi-search"></i></button>
                </div>
            </form>
        </div>
    </div>



    <!-- Résultats de la requête -->
    <% if(locals.mot_cle) { %> 
        <div class="row">
            <div class="col-2">
                <nav id="navbar-resultats" class="navbar px-3 mb-3 sticky-top">
                    <ul class="nav nav-pills">
                      <li class="nav-item">
                        <a class="nav-link" href="#tableau_sci">Scientists <span id="nb-sci-found"></span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#tableau_dom">Academic disciplines <span id="nb-dom-found"></span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#tableau_con">Concepts <span id="nb-con-found"></span></a>
                      </li>
                    </ul>
                  </nav>
                  
            </div>
            <div class="col-10" data-bs-spy="scroll" data-bs-target="#navbar-resultats" tabindex="0" data-bs-offset="0" data-bs-smooth-scroll="true" >
                <div id="zone-resultats-recherche" class="row row-cols-1 row-cols-md-3 row-cols-lg-4 row-cols-sm-2 row-cols-xl-5 g-4">
                    <!-- résultats -->
                </div>
                <div id="zone-nom-sci"></div>
                <div id="tableau_sci">
                    <h1 id="headerScientists">Scientists</h1>
                    <div id="zone-resultats-recherche-sci" class=""></div>
                </div>

                <div id="zone-nom-dom"></div>
                <div id="tableau_dom">
                    <h1 id="headerDisciplines">Academic disciplines</h1>
                    <div id="zone-resultats-recherche-dom" class=""></div>
                </div>
                
                <div id="zone-nom-con"></div>
                <div id="tableau_con">
                    <h1 id="headerConcepts">Concepts</h1>
                    <div id="zone-resultats-recherche-con" class=""></div>
                </div>
            </div>
            
        </div>

        
        
        
    <% } %>
    
    </div>

<script>
    $("#mot_cle").keyup(function(event){
        if(event.keyCode == 13){
            $("#bouton-recherche").click();
        }
    });
    

    function lancerRecherche() {
        rechercher(document.getElementById('mot_cle').value);
    }

    $(document).ready(function() {
        <% if (locals.mot_cle) { %>
            lancerRecherche();
        <% } %>
    });
</script>

<%- include ('footer') %>
