<%- include ('header') %>
  <style>
    p {
      hyphens: auto;
      overflow-wrap: break-word;
      width: 100%;

    }

    .col-md-4 {
      text-align: center;
    }

    .image-align-left {
      float: left;
    }

    .image-align-right {
      float: right;
    }

    #image {
      margin-right: 20px;
      margin-bottom: 0px;
    }

    #resume {
      text-align: justify;
    }

    .float-content:before,
    .float-content:after {
      content: "";
      display: block;
      clear: both;
    }
    .border {
      overflow: hidden;
    }
  </style>


  <div class="container mt-5">
    <div class="row">
      <div class="col-md-12 mx-auto text-center">
        <h1 id="titre" class="display-4 mb-4 text-justify"></h1>
      </div>
    </div>
    <div class="row d-flex align-items-center justify-content-center">
      <div class="mx-auto">
        <div class="border p-3 w-100 bg-light">
          <img id="image" class="img-fluid rounded mb-4 image-align-left" />
          <div class="text-muted">
            <div id="dateNaissance"></div>
            <div id="conjointDiv"><a id="conjoint"></a></div>
            <div id="birthPlaceValue"></div>
          </div>
          <p id="image-chargement" class="text-muted text-center"></p>
          <p id="resume" class="mb-4 text-justify">
          </p>
        </div>
      </div>
    </div>
    
    <div class="col-md-4 mx-auto">
      <a id="pageWikipedia" class="btn btn-primary mx-auto mt-4" style="display: none;" target="_blank">More on
        Wikipedia</a>
    </div>
    <br />
    <h3 id="titleTableStudent" class="mt-5 text-center text-primary" style="display: none;">PhD students</h3>
    <br />
    <div id="tableauStudents" style="max-height: 500px; overflow: scroll; display: none">
      <div id="students" class="row row-cols-1 row-cols-md-3 row-cols-lg-4 row-cols-sm-2 row-cols-xl-5 g-4">
      </div>
    </div>
    <br />
    <h3 id="titleTableDiscipline" class="mt-5 text-center text-primary" style="display: none;">Academic disciplines</h3>
    <br />
    <div id="tableauDisciplines" style="max-height: 500px; overflow: scroll; display: none">
      <div id="disciplines" class="row row-cols-1 row-cols-md-3 row-cols-lg-4 row-cols-sm-2 row-cols-xl-5 g-4">

      </div>
    </div>

    <h3 id="titleTableConcepts" class="mt-5 text-center text-primary" style="display: none;">Concepts related</h3>
    <br />
    <div id="tableauConcepts" style="max-height: 500px; overflow: scroll; display: none">
      <div id="concepts" class="row row-cols-1 row-cols-md-3 row-cols-lg-4 row-cols-sm-2 row-cols-xl-5 g-4">

      </div>
    </div>
    <br />
    <h3 id="titleTableAwards" class="mt-5 text-center text-primary" style="display: none;">Awards</h3>
    <br />
    <div id="tableauAwards" style="overflow:scroll; max-height: 500px; display: none">
      <div id="awards" class="row row-cols-1 row-cols-md-3 row-cols-lg-4 row-cols-sm-2 row-cols-xl-5 g-4">
      </div>
    </div>

    <br />
    <div class="tree" id="genetree">
      <ul>
      </ul>
    </div>
  </div>

  <!--div class="container mt-5">
    <p id="p-spin-chargement"></p>
    <h1 id="titre"></h1>
    <div class="row">
      <div class="col-auto">
        <img id="image" class="mb-3" />
        <p id="dateNaissance"></p>
        <div id="conjointDiv">
          Life partner :
          <a id="conjoint"></a>
        </div>



        <br />
      </div>
      <div class="col">
        <p id="resume"></p>
        <a id="pageWikipedia">More on wikipedia...</a>

      </div>
    </div>

    <h2>Further information</h2>

    <div style="max-height: 300px; overflow: scroll;" id="doctorants">
      <table class="table table-bordered table-hover">
        <thead class="header-sticky">
          <tr>
            <th>PhD students</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>

    <div style="max-height: 300px; overflow: scroll;" id="disciplines">
      <table class="table table-bordered table-hover">
        <thead class="header-sticky">
          <tr>
            <th>Academic disciplines</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>

    <div style="max-height: 300px; overflow: scroll;" id="concepts">
      <table class="table table-bordered table-hover">
        <thead class="header-sticky">
          <tr>
            <th>Concepts related</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>

    <div style="max-height: 300px; overflow: scroll;" id="awards">
      <table class="table table-bordered table-hover">
        <thead class="header-sticky">
          <tr>
            <th>Awards </th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>

    <div class="tree" id="genetree">
      <ul>
      </ul>
    </div-->

  </div>
  <script>
    // Get the query string from the URL
    //var searchParams = new URLSearchParams(window.location.search);
    // Get the value of the "param1" parameter
    //var scientist = searchParams.get("scientist_name");
    // Do something with the value of the parameter
    <% if (locals.scientist_name) { %>
      let scientist = '<%= locals.scientist_name %>';
      //console.log(scientist);
      afficherChargement($("#p-spin-chargement"), "Chargement")
      rechercherScientist(scientist, function (response) {
        afficherScientist(response);
        cacherChargement($("#p-spin-chargement"));
      });
    <% } %>
  </script>
  <!-- Johann_Rafelski-->


  <%- include ('footer') %>