<%- include ('header') %>

<div class="container mt-5">
    <h1 id="titre"></h1>
    <div class="row">
      <div class="col-auto">
        <img id="image" class="mb-3" />
        <p id="dateNaissance"></p>
        <div id="conjointDiv">
          Conjoint :
          <a id="conjoint"></a>
        </div>  
        <br/>
      </div>
      <div class="col">
        <p id="resume"></p>
        <a id="pageWikipedia">Pour en savoir plus...</a>
        
      </div>
    </div>
    
    <h2>Informations supplémentaires</h2>

    <div style="max-height: 300px; overflow: scroll;" id="doctorants"> 
      <table class="table table-bordered table-hover">
        <thead class="header-sticky">
          <tr>
            <th>Noms des doctorants</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>

    <div style="max-height: 300px; overflow: scroll;" id="disciplines"> 
      <table class="table table-bordered table-hover">
        <thead class="header-sticky">
          <tr>
            <th>Noms des disciplines</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>

    <div style="max-height: 300px; overflow: scroll;" id="concepts"> 
      <table class="table table-bordered table-hover">
        <thead class="header-sticky">
          <tr>
            <th>Concepts :</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>

  </div>
  
  <script>
    // Get the query string from the URL
    //var searchParams = new URLSearchParams(window.location.search);
    // Get the value of the "param1" parameter
    //var scientist = searchParams.get("scientist_name");
    // Do something with the value of the parameter
    <% if (locals.scientist_name) { %>
        let scientist = '<%= locals.scientist_name %>';
        console.log(scientist);
        rechercherScientist(scientist);
    <% } %>
  </script>
  <!-- Johann_Rafelski-->


<%- include ('footer') %>
